<!DOCTYPE html>
<html>
<head>
      <title>back-task5</title>
      <link rel="stylesheet"  href="css/style.css" />
</head>
<body>
      <h2>{{>header}} </h2> 
      
      <div class="div1">
      <p >The weather of the country</p>
      <h2><span class="sbn1">Country name:</span> {{country}} </h2>
      <h2><span class="sbn1">Latitude:</span> {{latitude}} </h2>
      <h2><span class="sbn1">Longitude:</span> {{longitude}} </h2>
      <h2><span class="sbn1">Weather:</span> {{weather}} </h2>
      <h2><span class="sbn1">Temperature:</span> {{temperature}} </h2>
      </div>
</body>
</html>